.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.MuiCard-root {
  margin: 20px;
}

.MuiCardMedia-root {
  object-fit: cover;
}
