/* App.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5e9e2;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #f5e9e2;
  /* Dark Blue */
  color: #a31a1e;
  padding: 50px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  z-index: 1000;
  margin-bottom: auto;
}

.portfolio-container {
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f5e9e2;
  /* Dark Blue */
  color: #a31a1e;
  padding: 20px;
  text-align: center;

  margin-top: 20px;
}

.card-link {
  text-decoration: none;
}

.MuiCard-root {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.MuiCard-root:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  background-color: #ffffff;
}

.MuiTypography-h6 {
  color: #c82328;
}